@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* ================== Grid Basic ==================== */
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

header {
  grid-column: 1/13;
}

main {
  grid-column: 1/13;
}

footer {
  grid-column: 1/13;
}

/* Nav Bar top */
.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.logoleroux {
  grid-column: 2/3;
}

.navtop {
  grid-column: 4/11;
  align-self: center;
}
.navtop ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Main */
.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.babypicture {
  grid-column: 1/13;
}

.quote {
  grid-column: 4/11;
  justify-self: center;
}

.quotetwo {
  grid-column: 3/12;
}

.author {
  grid-column: 9/11;
}

.titlepresentation {
  grid-column: 3/8;
  justify-self: center;
}

.presentation {
  grid-column: 3/8;
  align-self: center;
}

.lerouxhead {
  grid-column: 9/12;
  justify-self: center;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.facebookpicture {
  grid-column: 6/7;
}

.twitterpicture {
  grid-column: 7/8;
}

.arrowtop {
  grid-column: 11/13;
  justify-items: center;
}

.final {
  grid-column: 6/11;
}

/* =============== Galerie page =============== */
.pictures {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.create {
  grid-column: 1/9;
}

.photoone {
  grid-column: 2/5;
}

.phototwo {
  grid-column: 5/8;
}

.photothree {
  grid-column: 2/5;
}

.photofour {
  grid-column: 5/8;
}

.photofive {
  grid-column: 2/5;
}

.photosix {
  grid-column: 5/8;
}

/* =============== Contact Page ============== */
div {
  grid-column: 5/10;
}

p {
  grid-column: 6/10;
}

.camerapicture {
  grid-column: 2/5;
}

/* ================ Prestation Page ======= */
.presta1 {
  grid-column: 2/10;
}

.presta2 {
  grid-column: 2/10;
}

.presta3 {
  grid-column: 2/10;
}

.presta4 {
  grid-column: 2/10;
}

/* =========== Color the page Home ========= */
header {
  background-color: #A0BF80;
}

main {
  background-color: #C3D9A3;
}

footer {
  background-color: #A0BF80;
}

/* Color nav bar top */
.navtop {
  border: 0.2rem solid #354025;
  color: #354025;
  font-size: 1.7rem;
}
.navtop li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #354025;
}

a:hover {
  color: #89837e;
}

a:active {
  color: #354025;
}

a:visited {
  color: #1d8637;
}

/* Color different text in main */
.quote {
  color: #354025;
  font-size: 2.2rem;
  margin: 0;
  font-family: "Courgette", cursive;
}

.quotetwo {
  color: #354025;
  font-size: 2.1rem;
  font-family: "Courgette", cursive;
}

.author {
  font-size: 1.5rem;
  margin: 0;
  color: #354025;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.titlepresentation {
  font-size: 1.6rem;
  color: #657346;
  font-style: italic;
}

.presentation {
  font-size: 1.6rem;
  color: #354025;
}

.presentation::first-letter {
  font-size: 4rem;
  font-style: bold;
  color: #354025;
  font-family: "Courgette", cursive;
}

/* colo footer */
.final {
  font-size: 1.4rem;
  color: #354025;
}

.arrowtop {
  border: solid #354025;
  width: 2rem;
  height: 2rem;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  justify-self: center;
}

/* ============= Galerie page ==========  */
.pictures img {
  border: 0.2rem solid black;
}

.create {
  font-size: 1.7rem;
  color: #354025;
  justify-self: center;
}

.create::first-letter {
  font-size: 3rem;
  font-family: "Courgette", cursive;
}

/* =============== Contact page ============= */
div {
  margin: 1rem;
}

fieldset {
  border: 0.2rem dotted #354025;
}

form {
  font-size: 1.5rem;
  color: #354025;
}

.contactmail {
  font-size: 2rem;
  color: #354025;
  font-style: italic;
  align-self: center;
}

.contactmail::first-letter {
  font-family: "Courgette", cursive;
  font-size: 2.5rem;
}

.camera {
  border: solid black 0.2rem;
  box-shadow: 1rem 1rem 0.8rem #354025;
}

/* ========== Prestation page ============ */
.prestation {
  font-size: 2rem;
  color: #354025;
  font-style: italic;
  justify-self: center;
}

.prestation::first-letter {
  font-family: "Courgette", cursive;
  font-size: 2.5rem;
}

/* resize pictures */
.picturebaby {
  width: 100%;
  height: auto;
}

.headleroux {
  width: 20rem;
  height: 20rem;
}

.navtop {
  width: 100%;
}

.facebook {
  width: 5rem;
  height: 5rem;
}

.twitter {
  width: 5rem;
  height: 5rem;
}

/* ================ Galerie Page ================== */
.photobebe {
  width: 100%;
  height: 100%;
}

.photo3 {
  width: 100%;
  height: 100%;
}

.photo5 {
  width: 100%;
  height: 100%;
}

.photo1 {
  width: 100%;
  height: 100%;
}

.photo2 {
  width: 100%;
  height: 100%;
}

.photo4 {
  width: 100%;
  height: 100%;
}

/* ==================== Contact page ============= */
.camera {
  width: 100%;
  height: 100%;
}

/* ======================= Prestation page ============= */
.presta img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=_media.scss.map */
