html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400i&display=swap" rel="stylesheet">
 */
/* 
 <style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i&display=swap');
</style> 
*/
/* Specify in CSS : 
font-family: 'Open Sans', sans-serif; 
*/
/* ================== Grid Basic ==================== */
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

header {
  grid-column: 1/13;
}

main {
  grid-column: 1/13;
}

footer {
  grid-column: 1/13;
}

/* Nav Bar top */
.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.logoleroux {
  grid-column: 2/3;
}

.navtop {
  grid-column: 4/11;
  align-self: center;
}
.navtop ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Main */
.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.babypicture {
  grid-column: 1/13;
}

.quote {
  grid-column: 4/11;
  justify-self: center;
}

.quotetwo {
  grid-column: 3/12;
}

.author {
  grid-column: 9/11;
}

.titlepresentation {
  grid-column: 3/8;
  justify-self: center;
}

.presentation {
  grid-column: 3/8;
  align-self: center;
}

.lerouxhead {
  grid-column: 9/12;
  justify-self: center;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(1rem, auto);
}

.facebookpicture {
  grid-column: 6/7;
}

.twitterpicture {
  grid-column: 7/8;
}

.arrowtop {
  grid-column: 11/13;
}

.final {
  grid-column: 6/11;
}

/* =========== Color the page Home ========= */
header {
  background-color: #A0BF80;
}

main {
  background-color: #C3D9A3;
}

footer {
  background-color: #A0BF80;
}

/* Color nav bar top */
.navtop {
  border: 2px solid #354025;
  color: #354025;
  font-size: 1.7rem;
}
.navtop li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #354025;
}

a:hover {
  color: #89837e;
}

a:active {
  color: #354025;
}

a:visited {
  color: #1d8637;
}

/* Color different text in main */
.quote {
  color: #354025;
  font-size: 2.2rem;
  margin: 0;
}

.quotetwo {
  color: #354025;
  font-size: 2.1rem;
}

.author {
  font-size: 1.5rem;
  margin: 0;
  color: #354025;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.titlepresentation {
  font-size: 1.6rem;
  color: #657346;
  font-style: italic;
}

.presentation {
  font-size: 1.6rem;
  color: #354025;
}

/* colo footer */
.final {
  font-size: 1.4rem;
  color: #354025;
}

.arrowtop {
  border: solid #354025;
  width: 2rem;
  height: 2rem;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  justify-self: center;
}

/* resize pictures */
.picturebaby {
  width: 100%;
  height: 47rem;
}

.headleroux {
  width: 20rem;
  height: 20rem;
}

.navtop {
  width: 100%;
}

.facebook {
  width: 5rem;
  height: 5rem;
}

.twitter {
  width: 5rem;
  height: 5rem;
}

/*# sourceMappingURL=style.css.map */
