/* resize pictures */
.picturebaby {
        width: 100%;
        height: 47rem;
    
}
.headleroux {
    width: 20rem;
    height: 20rem;
}
.navtop {
    width: 100%;
}
.facebook {
    width: 5rem;
    height: 5rem;
}
.twitter {
    width: 5rem;
    height: 5rem;
}