/* resize pictures */
.picturebaby {
        width: 100%;
        height: auto;
    
}
.headleroux {
    width: 20rem;
    height: 20rem;
}
.navtop {
    width: 100%;
}
.facebook {
    width: 5rem;
    height: 5rem;
}
.twitter {
    width: 5rem;
    height: 5rem;
}
/* ================ Galerie Page ================== */
.photobebe {
    width: 100%;
    height: 100%;
}
.photo3 {
    width: 100%;
    height: 100%;
}
.photo5 {
    width: 100%;
    height: 100%;
}
.photo1 {
    width: 100%;
    height: 100%;
}
.photo2 {
    width: 100%;
    height: 100%;
}
.photo4 {
    width: 100%;
    height: 100%;
}
/* ==================== Contact page ============= */
.camera {
    width: 100%;
    height: 100%;
}
/* ======================= Prestation page ============= */
.presta img {
    width: 100%;
    height: 100%;
}