/* Color Theme Swatches in Hex */
$Color-Theme-14-1-hex: #BFB0B0;
$Color-Theme-14-2-hex: #A0BF80;
$Color-Theme-14-3-hex: #354025;
$Color-Theme-14-4-hex: #C3D9A3;
$Color-Theme-14-5-hex: #657346;

/* Color Theme Swatches in RGBA */
$Color-Theme-14-1-rgba: rgba(191,175,175, 1);
$Color-Theme-14-2-rgba: rgba(159,191,128, 1);
$Color-Theme-14-3-rgba: rgba(53,63,36, 1);
$Color-Theme-14-4-rgba: rgba(195,216,162, 1);
$Color-Theme-14-5-rgba: rgba(100,114,69, 1);

/* Color Theme Swatches in HSLA */
$Color-Theme-14-1-hsla: hsla(359, 10, 71, 1);
$Color-Theme-14-2-hsla: hsla(90, 33, 62, 1);
$Color-Theme-14-3-hsla: hsla(84, 26, 19, 1);
$Color-Theme-14-4-hsla: hsla(84, 41, 74, 1);
$Color-Theme-14-5-hsla: hsla(79, 24, 36, 1);
