/* =========== Color the page Home ========= */

header {
    background-color: #A0BF80;
}
main {
    background-color:#C3D9A3;
}
footer {
    background-color: #A0BF80;
}

/* Color nav bar top */ 
.navtop {
    border: 2px solid #354025;
    color: #354025;
    font-size: 1.7rem;
    
    li {
        list-style-type: none;
        
    }
}